//Tabulator Containing Element
.tabulator {
  position: relative;
  transform: translateZ(0);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
  color: #ccc;
  color-scheme: inherit;
  text-align: left;

  & * {
    font-size: inherit;
    font-family: inherit;
  }

  &[tabulator-layout='fitDataFill'] {
    .tabulator-tableholder {
      .tabulator-table {
        min-width: 100%;
      }
    }
  }

  &[tabulator-layout='fitDataTable'] {
    display: inline-flex;
    flex-direction: column;
  }
}
