@use 'colors' as *;

//column header containing element
.tabulator-header {
  position: relative;
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid $color-slate-200;
  background-color: $color-slate-50;
  width: 100%;
  overflow: hidden;
  color: $color-gray-500;
  font-weight: 600;
  user-select: none;
  white-space: nowrap;

  &.tabulator-header-hidden {
    display: none;
  }

  .tabulator-header-contents {
    position: relative;
    overflow: hidden;

    .tabulator-headers {
      display: inline-flex;
    }
  }

  //individual column header element
  .tabulator-col {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: bottom;
    box-sizing: border-box;
    border-right: 1px solid $color-slate-200;
    overflow: hidden;
    text-align: left;

    &.tabulator-moving {
      position: absolute;
      border: 1px solid $color-slate-200;
      border-top: none;
      border-bottom: none;
      background: $color-orange-50;
      pointer-events: none;
    }

    &.tabulator-range-highlight {
      background-color: $color-gray-200;
      color: $color-black;
    }

    &.tabulator-range-selected {
      background-color: $color-blue-700;
      color: $color-white;
    }

    //hold content of column header
    .tabulator-col-content {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;

      //header menu button
      .tabulator-header-popup-button {
        padding: 0 8px;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }

      //hold title and sort arrow
      .tabulator-col-title-holder {
        display: inline-flex;
        position: relative;
        width: 100%;
      }

      //hold title of column header
      .tabulator-col-title {
        vertical-align: bottom;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.tabulator-col-title-wrap {
          text-overflow: initial;
          white-space: normal;
        }

        //element to hold title editor
        .tabulator-title-editor {
          box-sizing: border-box;
          border: 1px solid $color-slate-200;
          background: $color-white;
          padding: 1px;
          width: 100%;
        }

        .tabulator-header-popup-button + .tabulator-title-editor {
          width: calc(100% - 22px);
        }
      }

      //column sorter arrow
      .tabulator-col-sorter {
        display: flex;
        position: absolute;
        top: 0;
        right: 4px;
        bottom: 0;
        align-items: center;

        .tabulator-arrow {
          border-right: 5px solid transparent;
          border-bottom: 5px solid $color-gray-300;
          border-left: 5px solid transparent;
          width: 0;
          height: 0;
        }
      }
    }

    //complex header column group
    &.tabulator-col-group {
      //gelement to hold sub columns in column group
      .tabulator-col-group-cols {
        display: flex;
        position: relative;
        margin-right: -1px;
        border-top: 1px solid $color-slate-200;
        overflow: hidden;
      }
    }

    //header filter containing element
    .tabulator-header-filter {
      position: relative;
      box-sizing: border-box;
      margin-top: 8px;
      width: 100%;
      text-align: center;

      //styling adjustment for inbuilt editors
      textarea {
        height: auto !important;
      }

      svg {
        margin-top: 3px;
      }

      input {
        border: 1px solid $color-slate-200;
      }

      input {
        &::-ms-clear {
          width: 0;
          height: 0;
        }
        &:focus-visible {
          outline: 1px solid $color-blue-700;
        }
      }
    }

    //styling child elements for sortable columns
    &.tabulator-sortable {
      .tabulator-col-title {
        padding-right: 25px;
      }

      @media (hover: hover) and (pointer: fine) {
        &.tabulator-col-sorter-element:hover {
          cursor: pointer;
          background-color: $color-slate-100;
        }
      }

      &[aria-sort='none'] {
        .tabulator-col-content .tabulator-col-sorter {
          color: $color-gray-300;

          @media (hover: hover) and (pointer: fine) {
            &.tabulator-col-sorter-element .tabulator-arrow:hover {
              cursor: pointer;
              border-bottom: 6px solid $color-gray-700;
            }
          }

          .tabulator-arrow {
            border-top: none;
            border-bottom: 6px solid $color-gray-300;
          }
        }
      }

      &[aria-sort='ascending'] {
        .tabulator-col-content .tabulator-col-sorter {
          color: $color-gray-800;

          @media (hover: hover) and (pointer: fine) {
            &.tabulator-col-sorter-element .tabulator-arrow:hover {
              cursor: pointer;
              border-bottom: 5px solid $color-gray-700;
            }
          }

          .tabulator-arrow {
            border-top: none;
            border-bottom: 5px solid $color-gray-800;
          }
        }
      }

      &[aria-sort='descending'] {
        .tabulator-col-content .tabulator-col-sorter {
          color: $color-gray-800;

          @media (hover: hover) and (pointer: fine) {
            &.tabulator-col-sorter-element .tabulator-arrow:hover {
              cursor: pointer;
              border-top: 5px solid $color-gray-700;
            }
          }

          .tabulator-arrow {
            border-top: 5px solid $color-gray-800;
            border-bottom: none;
            color: $color-gray-800;
          }
        }
      }
    }

    &.tabulator-col-vertical {
      .tabulator-col-content {
        .tabulator-col-title {
          display: flex;
          justify-content: center;
          align-items: center;
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }

      &.tabulator-col-vertical-flip {
        .tabulator-col-title {
          transform: rotate(180deg);
        }
      }

      &.tabulator-sortable {
        .tabulator-col-title {
          padding-top: 20px;
          padding-right: 0;
        }

        &.tabulator-col-vertical-flip {
          .tabulator-col-title {
            padding-right: 0;
            padding-bottom: 20px;
          }
        }

        .tabulator-col-sorter {
          top: 4px;
          right: 0;
          bottom: auto;
          left: 0;
          justify-content: center;
        }
      }
    }
  }

  .tabulator-frozen {
    position: sticky;
    left: 0;
    z-index: 11;

    &.tabulator-frozen-left {
      border-right: 1px solid $color-slate-300;
      background-color: $color-slate-50;
    }

    &.tabulator-frozen-right {
      border-left: 1px solid $color-slate-300;
      background-color: $color-slate-50;
    }
  }

  .tabulator-calcs-holder {
    box-sizing: border-box;
    border-top: 1px solid $color-slate-200;

    .tabulator-row {
      border: none;
      background: $color-white;

      .tabulator-col-resize-handle {
        display: none;
      }
    }
  }

  .tabulator-frozen-rows-holder {
    border-top: 1px solid $color-slate-200;

    &:empty {
      display: none;
    }
  }
}
