@use 'colors' as *;

//RTL Styling

.tabulator.tabulator-ltr {
  direction: ltr;
}

.tabulator.tabulator-rtl {
  direction: rtl;
  text-align: initial;

  .tabulator-header {
    .tabulator-col {
      border-right: initial;
      border-left: 1px solid light-dark($color-slate-100, $color-slate-700);
      text-align: initial;

      &.tabulator-col-group {
        .tabulator-col-group-cols {
          margin-right: initial;
          margin-left: -1px;
        }
      }

      &.tabulator-sortable {
        .tabulator-col-title {
          padding-right: 0;
          padding-left: 25px;
        }
      }

      .tabulator-col-content {
        .tabulator-col-sorter {
          right: initial;
          left: 8px;
        }
      }
    }
  }

  .tabulator-tableholder {
    .tabulator-range-overlay {
      .tabulator-range {
        &.tabulator-range-active::after {
          position: absolute;
          right: initial;
          bottom: -3px;
          left: -3px;
          border-radius: 999px;
          background-color: light-dark($color-blue-600, $color-blue-400);
          width: 6px;
          height: 6px;
          content: '';
        }
      }
    }
  }

  .tabulator-row {
    .tabulator-cell {
      border-right: initial;
      border-left: 1px solid light-dark($color-slate-100, $color-slate-700);

      .tabulator-data-tree-branch {
        margin-right: initial;
        margin-left: 5px;
        border-right: 2px solid light-dark($color-slate-100, $color-slate-700);
        border-left: initial;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: initial;
      }

      .tabulator-data-tree-control {
        margin-right: initial;
        margin-left: 5px;
      }

      &.tabulator-frozen {
        &.tabulator-frozen-left {
          border-left: 1px solid light-dark($color-slate-300, $color-slate-600);
        }

        &.tabulator-frozen-right {
          border-right: 1px solid light-dark($color-slate-300, $color-slate-600);
        }
      }
    }

    .tabulator-col-resize-handle {
      &:last-of-type {
        margin-right: -3px;
        margin-left: 0;
        width: 3px;
      }
    }
  }

  .tabulator-footer {
    .tabulator-calcs-holder {
      text-align: initial;
    }
  }
}
