@use 'colors' as *;

//scrolling element to hold table
.tabulator-tableholder {
  position: relative;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: none;
  }

  //default placeholder element
  .tabulator-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;

    &[tabulator-render-mode='virtual'] {
      min-height: 100%;
    }

    .tabulator-placeholder-contents {
      display: inline-block;
      padding: 10px;
      color: $color-gray-500;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      white-space: normal;
    }
  }

  //element to hold table rows
  .tabulator-table {
    display: inline-block;
    position: relative;
    background-color: $color-white;
    overflow: visible;
    color: $color-gray-900;
    white-space: nowrap;

    //row element
    .tabulator-row {
      &.tabulator-calcs {
        background: $color-gray-50;
        font-weight: 600;
      }
    }
  }

  .tabulator-range-overlay {
    position: absolute;
    z-index: 10;
    inset: 0;
    pointer-events: none;

    .tabulator-range {
      position: absolute;
      box-sizing: border-box;
      border: 1px solid $color-blue-600;

      &.tabulator-range-active::after {
        position: absolute;
        right: -3px;
        bottom: -3px;
        border-radius: 999px;
        background-color: $color-blue-600;
        width: 6px;
        height: 6px;
        content: '';
      }
    }

    .tabulator-range-cell-active {
      position: absolute;
      box-sizing: border-box;
      border: 2px solid $color-blue-600;
    }
  }
}
