@use 'colors' as *;

// Table print styling
.tabulator-print-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

body.tabulator-print-fullscreen-hide > *:not(.tabulator-print-fullscreen) {
  display: none !important;
}

.tabulator-print-table {
  border-collapse: collapse;

  .tabulator-data-tree-branch {
    display: inline-flex;
    align-items: center;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom: 2px solid $color-slate-700;
    border-left: 2px solid $color-slate-700;
    border-bottom-left-radius: 1px;
    width: 7px;
    height: 9px;
  }

  //row grouping element
  .tabulator-print-table-group {
    box-sizing: border-box;
    border-top: 1px solid $color-slate-600;
    border-right: 1px solid $color-slate-700;
    border-bottom: 1px solid $color-slate-600;
    background: $color-slate-800;
    padding: 5px;
    padding-left: 10px;
    min-width: 100%;
    font-weight: 600;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background-color: $color-slate-700;
      }
    }

    &.tabulator-group-visible {
      .tabulator-arrow {
        margin-right: 10px;
        border-top: 5px solid $color-slate-200;
        border-right: 5px solid transparent;
        border-bottom: 0;
        border-left: 5px solid transparent;
      }
    }

    &.tabulator-group-level-1 {
      td {
        padding-left: 30px !important;
      }
    }

    &.tabulator-group-level-2 {
      td {
        padding-left: 50px !important;
      }
    }

    &.tabulator-group-level-3 {
      td {
        padding-left: 70px !important;
      }
    }

    &.tabulator-group-level-4 {
      td {
        padding-left: 90px !important;
      }
    }

    &.tabulator-group-level-5 {
      td {
        padding-left: 110px !important;
      }
    }

    .tabulator-group-toggle {
      display: inline-flex;
      align-items: center;
    }

    //sorting arrow
    .tabulator-arrow {
      display: inline-flex;
      align-items: center;
      margin-right: 16px;
      border-top: 5px solid transparent;
      border-right: 0;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $color-slate-200;
      width: 0;
      height: 0;
    }

    span {
      margin-left: 10px;
      color: $color-slate-100;
    }
  }

  .tabulator-data-tree-control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border: 1px solid $color-slate-400;
    border-radius: 2px;
    background: $color-white-alpha-100;
    width: 11px;
    height: 11px;
    overflow: hidden;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background: $color-white-alpha-200;
      }
    }

    .tabulator-data-tree-control-collapse {
      display: inline-flex;
      position: relative;
      background: transparent;
      width: 1px;
      height: 7px;

      &:after {
        position: absolute;
        top: 3px;
        left: -3px;
        background: $color-slate-200;
        width: 7px;
        height: 1px;
        content: '';
      }
    }

    .tabulator-data-tree-control-expand {
      display: inline-flex;
      position: relative;
      background: $color-slate-200;
      width: 1px;
      height: 7px;

      &:after {
        position: absolute;
        top: 3px;
        left: -3px;
        background: $color-slate-200;
        width: 7px;
        height: 1px;
        content: '';
      }
    }
  }
}
